@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "sans";
    src: url("/fonts/Iransans/IRANSans.ttf"), format("truetype");
}

@font-face {
    font-family: "sans-thin";
    src: url("/fonts/Iransans/IRANSansX\ Thin.ttf"), format("truetype");
}

@font-face {
    font-family: "peyda";
    src: url("/fonts/Peyda/PeydaWeb.ttf"), format("truetype");
}

* {
    outline: none;
}

/* some helper classes */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center
}

.primary-bg {
    @apply absolute w-full -z-[1];
    background: url("/images/backGround.webp") repeat rgb(41, 42, 45);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 2%);
    z-index: -1;
    pointer-events: none;
}

.submenu:hover {
    padding-right: 1.3rem;
    transition: all 0.4s ease;
}

.submenu::after {
    transition: all 0.4s ease;
    padding-left: 0px;
    content: "";
    inset: 0;
    opacity: 0;
    border-radius: 3px;
    width: 0.1rem;
    height: .15rem;
    background-color: transparent;
    position: absolute;
    margin-top: 10px;
    padding-left: 0px;
}

.submenu:hover::after {
    background-color: red;
    opacity: 1;
    padding-left: 14px;
}

.user-basket {
    position: relative
}

.user-basket::after {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    @apply bg-description-text
}

.thin-title {
    font-size: 12px;
    line-height: 31px;
    @apply text-description-text py-1
}

.bold-title {
    font-weight: 600;
    @apply font-peyda text-dark-red
}

.bordered-btn {
    @apply border-2 border-white-red bg-transparent relative
}

.bordered-btn::after {
    content: "";
    position: absolute;
    transition: all 0.5s ease;
    inset: 0;
    width: 0px;
    z-index: 1;
    @apply bg-white-red
}

.bordered-btn:hover::after {
    width: 100%;
}

.dotted-border::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.3;
    border-bottom: 2px dotted #FFD300;
}

.disscount-border {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.red-line-through {
    position: relative;
}

.red-line-through::after {
    content: "";
    position: absolute;
    inset: 0;
    @apply bg-dark-red top-[9px] h-[.3px] -rotate-[15deg]
}

/* Custom styles for Swiper pagination */
.swiper-pagination {
    color: #fff;
    padding: 10px;
    margin-top: 4rem;
    border-radius: 5px;
}

.swiper-pagination-bullet {
    background-color: #fff;
    width: 15px;
    height: 5px;
    margin: 0 5px;
    border-radius: 2px;
}

.swiper-pagination-bullet-active {
    background-color: #ff5733;
}

.pipe-sep::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 1px;
    height: 1.1rem;
    @apply bg-gold/10 rounded-sm
}

.fake-namad {
    position: absolute;
    inset: 0;
    width: 80%;
    height: 2rem;
    @apply bg-red-600 rounded-md m-auto -rotate-12 text-center text-xl pt-1
}