/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "sans";
    src: url("/fonts/Iransans/IRANSans.ttf"), format("truetype");
}

@font-face {
    font-family: "sans-thin";
    src: url("/fonts/Iransans/IRANSansX\ Thin.ttf"), format("truetype");
}

@font-face {
    font-family: "peyda";
    src: url("/fonts/Peyda/PeydaWeb.ttf"), format("truetype");
}

@layer components {


    * {
        outline: none;
    }

    /* some helper classes */
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .primary-bg {
        @apply absolute top-0 bottom-0 w-full h-full;
        background-image: url("/images/backGround.webp");
        background-color: rgb(41, 42, 45);
    }

    .submenu:hover {
        padding-right: 1.3rem;
        transition: all 0.4s ease;
    }

    .submenu::after {
        transition: all 0.4s ease;
        padding-left: 0px;
        content: "";
        inset: 0;
        opacity: 0;
        border-radius: 3px;
        width: 0.1rem;
        height: .15rem;
        background-color: transparent;
        position: absolute;
        margin-top: 10px;
        padding-left: 0px;
    }

    .submenu:hover::after {
        background-color: red;
        opacity: 1;
        padding-left: 14px;
    }

    .user-basket {
        position: relative
    }

    .user-basket::after {
        content: "";
        position: absolute;
        left: -10px;
        top: -10px;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        @apply bg-description-text
    }

    .thin-title {
        font-size: 12px;
        line-height: 31px;
        @apply text-description-text py-1
    }

    .bold-title {
        font-size: 50px;
        @apply font-peyda text-dark-red
    }
}